<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
>
<h:head>
    <title>Footer</title>
</h:head>

<h:body>


    <ui:composition>
        <link href="https://fonts.googleapis.com/css?family=Nunito+Sans:200,300,400,600,700,800,900%24display=swap"
              rel="stylesheet"/>
        <link rel="stylesheet" href="../asset/css/open-iconic-bootstrap.min.css"/>
        <link rel="stylesheet" href="../asset/css/animate.css"/>
        <link rel="stylesheet" href="../asset/css/owl.carousel.min.css"/>
        <link rel="stylesheet" href="../asset/css/owl.theme.default.min.css"/>
        <link rel="stylesheet" href="../asset/css/magnific-popup.css"/>
        <link rel="stylesheet" href="../asset/css/aos.css"/>
        <link rel="stylesheet" href="../asset/css/ionicons.min.css"/>
        <link rel="stylesheet" href="../asset/css/bootstrap-datepicker.css"/>
        <link rel="stylesheet" href="../asset/css/css/bootstrap-reboot.css"/>
        <link rel="stylesheet" href="../asset/css/bootstrap.min.css"/>
        <link rel="stylesheet" href="../asset/css/flaticon.css"/>
        <link rel="stylesheet" href="../asset/css/icomoon.css"/>
        <link rel="stylesheet" href="../asset/css/style.css"/>


        <footer class="ftco-footer ftco-bg-dark ftco-section">
            <div class="container">
                <div class="row mb-4">
                    <div class="col-md">
                        <div class="ftco-footer-widget mb-4">
                            <h2 class="ftco-heading-2">Progica.</h2>
                            <p>Association des propriétaires de gîtes campagnards, plateforme de réservation de gite.</p>
                            <ul class="ftco-footer-social list-unstyled float-md-left float-lft mt-5">
                                <li class="ftco-animate"><a href="#"><span class="icon-twitter"/></a></li>
                                <li class="ftco-animate"><a href="#"><span class="icon-facebook"/></a></li>
                                <li class="ftco-animate"><a href="#"><span class="icon-instagram"/></a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-md">
                        <div class="ftco-footer-widget mb-4 ml-md-5">
                            <h2 class="ftco-heading-2">Liens</h2>
                            <ul class="list-unstyled">
                                <li><a href="#" class="py-2 d-block">Accueil</a></li>
                                <li><a href="../faces/location.xhtml" class="py-2 d-block">Location</a></li>
                                <li><a href="../faces/gestion.xhtml" class="py-2 d-block">Gestion de gite</a></li>
                                <li><a href="../faces/contact.xhtml" class="py-2 d-block">Contact</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-md">
                        <div class="ftco-footer-widget mb-4">
                            <h2 class="ftco-heading-2">Vous avez des questions ?</h2>
                            <div class="block-23 mb-3">
                                <ul>
                                    <li><span class="icon icon-map-marker"/><span
                                            class="text">20 rue du Luxembourg, Roubaix, France, FR</span>
                                    </li>
                                    <li><a href="#"><span class="icon icon-phone"/><span
                                            class="text">+33 3 59 39 21 52</span></a></li>
                                    <li><a href="#"><span class="icon icon-envelope"/><span
                                            class="text">progica@gmail.com</span></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12 text-center">

                        <p><!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                            Copyright ©
                            <script>document.write(new Date().getFullYear()); </script>
                            All rights reserved | Wojtowicz Denis &#38; Ioossen Aurelien
                            <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                        </p>
                    </div>
                </div>
            </div>


            <script src="../asset/js/popper.min.js" type="text/javascript"></script>
            <script src="../asset/js/bootstrap.min.js" type="text/javascript"></script>
            <script src="../asset/js/owl.carousel.min.js" type="text/javascript"></script>
            <script src="../asset/js/aos.js" type="text/javascript"></script>
            <script src="../asset/js/scrollax.min.js" type="text/javascript"></script>
            <script src="../asset/js/main.js" type="text/javascript"></script>
        </footer>

    </ui:composition>
</h:body>
</html>
