<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:b="http://bootsfaces.net/ui"
      xmlns:f="http://xmlns.jcp.org/jsf/core" xmlns:ng="http://primefaces.org/ui"
>
<h:head>
    <title>form</title>

    <link rel="stylesheet" href="../asset/css/styles.css"/>
</h:head>
<h:body>
    <ui:composition>
        <b:form>
            <b:container>
                <h2 style="text-align: center;margin-bottom: 30px;margin-top: 30px">#{gitesBean.actionWanted} de gîte</h2>
                <b:selectOneMenu value="#{gitesBean.giteSelected.proprietaire}" label="Selectionner un propriétaire"
                                  colMd="4">
                    <f:selectItems value="#{gitesBean.listPersonne}" var="personne"
                                   itemValue="#{personne}" itemLabel="#{personne}"/>
                </b:selectOneMenu>


                <b:selectOneMenu value="#{gitesBean.giteSelected.contact}" label="Selectionner un contact" colMd="4">
                    <f:selectItems value="#{gitesBean.listPersonne}" var="personne" itemValue="#{personne}" itemLabel="#{personne}"/>
                </b:selectOneMenu>

                <b:inputText value="#{gitesBean.giteSelected.libelleGite}" label="Libelle :" type="text" colMd="4"/>

                <b:inputText value="#{gitesBean.giteSelected.numero}" name="num" ng:type="num" placeholder=""
                             class="form-control input-md" required="" label="N °" colMd="2"/>

                <b:inputText value="#{gitesBean.giteSelected.rue}" label="Rue :" type="text" colMd="6"
                             class="form-control input-md"
                             required=""/>

                <b:inputText value="#{gitesBean.giteSelected.complementGeo}" label="Complément Geo :"
                             type="text" class="form-control input-md" required="" colMd="4"/>

                <b:inputText value="#{gitesBean.giteSelected.complementAdresse}" label="Complément Adresse :"
                             type="text"
                             colMd="6"/>

                <b:inputText value="#{gitesBean.giteSelected.lieuDit}" label="Lieu dit :" type="text"
                             class="form-control input-md" required="" colMd="6"/>

                <b:selectOneMenu value="#{gitesBean.giteSelected.ville}" label="Selectionner une ville" colMd="4">
                  <!--  <f:converter converterId="VilleConverter"/> -->
                    <f:selectItems value="#{gitesBean.cities}" var="city"
                                   itemValue="#{city}" itemLabel="#{city}"/>
                </b:selectOneMenu>

                <b:inputText value="#{gitesBean.giteSelected.surfaceHabitable}" label="Surface habitable :" type="text"
                             class="form-control input-md" colMd="2" required=""/>

                <b:inputText value="#{gitesBean.giteSelected.nmbChambre}" label="Chambres :" colMd="2"
                             class="form-control input-md" required=""/>

                <b:inputText value="#{gitesBean.giteSelected.nmbCouchage}"
                             label="Couchages :" type="text" class="form-control input-md"
                             required="" colMd="2"/>

                <b:inputText value="#{gitesBean.giteSelected.tarif}" label="Tarif hebdomadaire :" ng:type="num"
                             class="form-control input-md" required="" colMd="2"/>
            </b:container>
            <b:container style="text-align:center; margin-top: 30px;">
                        <b:commandButton type="submit" value="Envoyer !" look="success" action="#{gitesBean.saveGite()}"
                                         style="width: 150px;height: 35px; margin-right: 10px;"/>
                        <b:commandButton value="Annuler" look="danger" action="location"
                                         style="width: 150px;height: 35px;"/>
            </b:container>

        </b:form>
    </ui:composition>
</h:body>
</html>
