<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
>
<h:head>
    <title>HeaderImage</title>

</h:head>
<h:body>

    <ui:composition>

        <!--  NAV -->

        <section class="hero-wrap hero-wrap-2 js-fullheight"
                 style="background-image: url('/asset/backgroundimage/house.png');" data-stellar-background-ratio="0.5">
            <div class="overlay"></div>
            <div class="container">
                <div class="row no-gutters slider-text js-fullheight align-items-end justify-content-start">
                    <div class="col-md-9 ftco-animate pb-5">
                    </div>
                </div>
            </div>
        </section>

    </ui:composition>
</h:body>
</html>
