<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"      xmlns:p="http://primefaces.org/ui"


>
<h:head>
    <title>Header</title>

</h:head>
<h:body>

    <ui:composition>

        <link href="https://fonts.googleapis.com/css?family=Nunito+Sans:200,300,400,600,700,800,900%24display=swap"
              rel="stylesheet"/>
        <link rel="stylesheet" href="../asset/css/open-iconic-bootstrap.min.css"/>
        <link rel="stylesheet" href="../asset/css/animate.css"/>
        <link rel="stylesheet" href="../asset/css/owl.carousel.min.css"/>
        <link rel="stylesheet" href="../asset/css/owl.theme.default.min.css"/>
        <link rel="stylesheet" href="../asset/css/magnific-popup.css"/>
        <link rel="stylesheet" href="../asset/css/aos.css"/>
        <link rel="stylesheet" href="../asset/css/ionicons.min.css"/>
        <link rel="stylesheet" href="../asset/css/bootstrap-datepicker.css"/>
        <link rel="stylesheet" href="../asset/css/jquery.timepicker.css"/>
        <link rel="stylesheet" href="../asset/css/css/bootstrap-reboot.css"/>
        <link rel="stylesheet" href="../asset/css/bootstrap.min.css"/>
        <link rel="stylesheet" href="../asset/css/flaticon.css"/>
        <link rel="stylesheet" href="../asset/css/icomoon.css"/>
        <link rel="stylesheet" href="../asset/css/style.css"/>
        <!--  NAV -->

        <div class="header">
            <nav class="navbar navbar-expand-lg navbar-dark ftco_navbar bg-dark ftco-navbar-light" id="ftco-navbar">
                <div class="container">
                    <a class="navbar-brand" href="${pageContext.request.contextPath}/faces/index.xhtml">Progica.
                    </a>
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#ftco-nav"
                            aria-controls="ftco-nav" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="oi oi-menu">Menu</span>
                    </button>

                    <div class="collapse navbar-collapse" id="ftco-nav">
                        <ul class="navbar-nav ml-auto">
                            <li class="nav-item"><a href="${pageContext.request.contextPath}/faces/index.xhtml"
                                                    class="nav-link">Accueil</a></li>
                            <li class="nav-item"><a href="${pageContext.request.contextPath}/faces/location.xhtml"
                                                    class="nav-link">Location</a></li>
                            <li class="nav-item"><a href="${pageContext.request.contextPath}/faces/gestion.xhtml"
                                                    class="nav-link">Création de gite</a></li>
                            <li class="nav-item"><a href="${pageContext.request.contextPath}/faces/contact.xhtml"
                                                    class="nav-link">Contact</a></li>

                        </ul>
                    </div>
                </div>
            </nav>
        </div>

        <script src="../asset/js/jquery.min.js" type="text/javascript"></script>
        <script src="../asset/js/jquery-migrate-3.0.1.min.js" type="text/javascript"></script>
        <script src="../asset/js/popper.min.js" type="text/javascript"></script>
        <script src="../asset/js/bootstrap.min.js" type="text/javascript"></script>
        <script src="../asset/js/jquery.easing.1.3.js" type="text/javascript"></script>
        <script src="../asset/js/jquery.waypoints.min.js" type="text/javascript"></script>
        <script src="../asset/js/jquery.stellar.min.js" type="text/javascript"></script>
        <script src="../asset/js/owl.carousel.min.js" type="text/javascript"></script>
        <script src="../asset/js/jquery.magnific-popup.min.js" type="text/javascript"></script>
        <script src="../asset/js/aos.js" type="text/javascript"></script>
        <script src="../asset/js/jquery.animateNumber.min.js" type="text/javascript"></script>
        <script src="../asset/js/scrollax.min.js" type="text/javascript"></script>
        <script src="../asset/js/main.js" type="text/javascript"></script>
    </ui:composition>

</h:body>
</html>
