<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:b="http://bootsfaces.net/ui"
      xmlns:p="http://primefaces.org/ui"
      xmlns:f="http://xmlns.jcp.org/jsf/core" xmlns:ng="http://java.sun.com/jsf/composite"

>

<h:head>
    <title>TableView</title>
    <link rel="stylesheet" href="../asset/css/styles.css"/>
</h:head>
<h:body>
    <ui:composition>
        <div class="tableView">
            <b:form>
                <b:dataTable  value="#{gitesBean.gites}" var="gite" ajax="true"
                             selectionMode="single"
                             responsive="true"
                             onselect="ajax:gitesBean.setGiteSelected(gite)">
                    <b:dataTableColumn value="#{gite.ville}" label="Ville"/>
                    <b:dataTableColumn value="#{gite.libelleGite}" label="Libellé"/>
                    <b:dataTableColumn value="#{gite.nmbChambre}" label="Nombre de chambre"/>
                    <b:dataTableColumn value="#{gite.nmbCouchage}" label="Nombre de couchage"/>
                    <b:dataTableColumn value="#{gite.surfaceHabitable}" label="Surface Habitable"/>
<!--                    <b:dataTableColumn value="#{gite.petPrice}" label="Animaux"/>-->
                    <b:dataTableColumn value="#{gite.tarif}" label="Tarif"/>
                    <b:dataTableColumn label="Action">
                        <b:commandButton value="" iconAwesome="trash" tooltip="Supprimer"
                                         action="#{gitesBean.delete(gite)}"/>
                        <b:commandButton value="" iconAwesome="pencil" tooltip="Editer" action="#{gitesBean.editGite()}"  />
                    </b:dataTableColumn>
                </b:dataTable>

                <b:modal   autoUpdate="true" id="myModal" title="Détails du gite" styleClass="formValidationModalClass" >

                   <h:form  id="editForm">
                        <b:container>
                            <b:row>
                                <b:selectOneMenu value="#{gitesBean.giteSelected.proprietaire}"
                                                 label="Selectionner un propriétaire"
                                                 colMd="6">
                                    <f:selectItem itemLabel="#{gitesBean.giteSelected.proprietaire}"
                                                  itemValue="#{gitesBean.giteSelected.proprietaire}"/>

                                    <f:selectItems value="#{gitesBean.listPersonne}" var="personne"
                                                   itemValue="#{personne}" itemLabel="#{personne}"/>
                                </b:selectOneMenu>


                                <b:selectOneMenu value="#{gitesBean.giteSelected.contact}"
                                                 label="Selectionner un contact"
                                                 colMd="6">
                                    <f:selectItem itemLabel="#{gitesBean.giteSelected.contact}"
                                                  itemValue="#{gitesBean.giteSelected.contact}"/>
                                    <f:selectItems value="#{gitesBean.listPersonne}" var="personne"
                                                   itemValue="#{personne}" itemLabel="#{personne}"/>
                                </b:selectOneMenu>
                            </b:row>

                            <p:inputText  label="Libelle :" type="text" value="#{gitesBean.giteSelected.libelleGite}"
                                         colMd="12"/>


                            <b:row>
                                <b:inputText value="#{gitesBean.giteSelected.numero}" name="num" ng:type="num"
                                             placeholder="" required="" label="N °" colMd="3"/>

                                <b:inputText value="#{gitesBean.giteSelected.rue}" label="Rue :" type="text" colMd="9"
                                             required=""/>
                            </b:row>

                            <b:row>
                                <b:inputText value="#{gitesBean.giteSelected.complementGeo}" label="Complément Geo :"
                                             type="text" required="" colMd="6"/>

                                <b:inputText value="#{gitesBean.giteSelected.complementAdresse}"
                                             label="Complément Adresse :"
                                             type="text"
                                             colMd="6"/>
                            </b:row>

                            <b:row>
                                <b:inputText value="#{gitesBean.giteSelected.lieuDit}" label="Lieu dit :" type="text"
                                             required="" colMd="6"/>
                                <b:selectOneMenu value="#{gitesBean.giteSelected.ville}" label="Selectionner une ville"
                                                 colMd="6">
                                    <f:selectItem itemLabel="#{gitesBean.giteSelected.ville}"
                                                  itemValue="#{gitesBean.giteSelected.ville}"/>
                                    <f:selectItems value="#{gitesBean.cities}" var="city"
                                                   itemValue="#{city}" itemLabel="#{city}"/>
                                </b:selectOneMenu>
                            </b:row>

                            <b:row>
                                <p:inputText value="#{gitesBean.giteSelected.surfaceHabitable}"
                                             label="Surface habitable :"
                                             type="text"
                                             colMd="6" required=""/>
                                <b:inputText value="#{gitesBean.giteSelected.nmbChambre}" label="Chambres :" colMd="6"
                                             required=""/>
                            </b:row>
                            <b:row>
                                <b:inputText value="#{gitesBean.giteSelected.nmbCouchage}"
                                             label="Couchages :" type="text"
                                             required="" colMd="6"/>
                                <b:inputText value="#{gitesBean.giteSelected.tarif}" label="Tarif hebdomadaire :"
                                             ng:type="num"
                                             required="" colMd="6"/>
                            </b:row>
                        </b:container>

                        <b:container style="text-align:center; margin-top: 30px;">
                            <b:button largeScreen="half" value="Cancel"
                                      dismiss="modal" onclick="return false;"/>

                                <p:commandButton  ajax="true" onclick="#{gitesBean.editGite()}" />

                        </b:container>
                        <b:fetchBeanInfos/>
                        <b:messages/>
                    </h:form>
                </b:modal>

            </b:form>



        </div>
    </ui:composition>
</h:body>
</html>


