<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
>
    <h:head>
        <title>TableLayout</title>
        <link rel="stylesheet" href="../../asset/css/styles.css"/>
    </h:head>

    <h:body>

        <div class="gestionGite">
            <ui:insert name="Form">
                <ui:include src="../form.xhtml"/>
            </ui:insert>
        </div>

    </h:body>
</html>