<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
>
    <h:head>
        <title>
          Progica
        </title>
    </h:head>

    <h:body>

        <div id="header">
            <ui:insert name="header">
                <ui:include src="../header.xhtml"/>
            </ui:insert>
        </div>

        <div id="headerImage">
            <ui:insert name="headerImage">
                <ui:include src="../headerImage.xhtml"/>
            </ui:insert>
        </div>

        <div id="content">
            <ui:insert name="content">
                <ui:include src="../content.xhtml"/>
            </ui:insert>
        </div>

        <div id="footer">
            <ui:insert name="footer">
                <ui:include src="../footer.xhtml"/>
            </ui:insert>
        </div>

    </h:body>
</html>
