<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:b="http://bootsfaces.net/ui"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
>

<h:head>
    <title>Progica - contact</title>
    <link rel="stylesheet" href="../asset/css/styles.css"/>
</h:head>
<h:body>
    <ui:composition template="../template/layout/mainLayout.xhtml">
        <ui:define name="content">
            <b:form inline="true" style="margin-top:50px">
                <b:container styleClass="mt-5 mb-5">

                    <b:column span="5">
                        <b:accordion expanded-panels="pannel1,panel2,panel3">
                            <b:panel id="pannel1" title="Par Mail">
                                <b:row styleClass="mb-4">
                                    <b:inputText label="Nom:" labelStyle="width:80px;">
                                        <f:facet name="prepend">
                                                <span style="font-size: 1em">
                                                  <em class="fa fa-user-circle"/>
                                                </span>
                                        </f:facet>
                                    </b:inputText>
                                </b:row>
                                <b:row styleClass="mb-4">
                                    <b:inputText label="E-mail:" labelStyle="width:80px;" mask="email"
                                                 render-label="true">
                                        <f:facet name="prepend">
                                                <span style="font-size: 1em">
                                                  <em class="fa fa-mail-reply"/>
                                                </span>
                                        </f:facet>
                                    </b:inputText>
                                </b:row>
                                <b:row styleClass="mb-4">
                                    <b:inputTextarea label="Requête:" labelStyle="width:80px;">
                                        <f:facet name="prepend">
                                                <span style="font-size: 1em">
                                                  <em class="fa fa-comments"/>
                                                </span>
                                        </f:facet>
                                    </b:inputTextarea>
                                </b:row>
                            </b:panel>
                        </b:accordion>
                    </b:column>

                    <b:column span="3">
                        <b:accordion expanded-panels="pannel1,panel2,panel3">
                            <b:panel id="panel2" title="Par téléphone">
                                    <span style="font-size: 1em; margin-left: 20px">
                                      <em class="fa fa-phone"/>
                                    </span>
                                <h:outputText label="téléphone:" value="+33 3 59 39 21 52"
                                              style="margin-left: 15px"/>
                            </b:panel>
                        </b:accordion>
                    </b:column>

                    <b:column span="4">
                        <b:accordion expanded-panels="pannel1,panel2,panel3">
                            <b:panel id="panel3" title="Par courrier">
                                <b:container style="margin-left: 20px">
                                    <em class="fa fa-envelope"/><span style="margin-left: 15px">Progica CEDEX</span>
                                    <br/>
                                    <span style="margin-left: 32px">20 rue du Luxembourg,</span>
                                    <br/>
                                    <span style="margin-left: 32px">59100 - Roubaix,</span>
                                    <br/>
                                    <span style="margin-left:32px">France </span>
                                </b:container>
                            </b:panel>
                        </b:accordion>
                    </b:column>

                </b:container>
            </b:form>

            <h:form style="margin-top: 50px">
                <b:openStreetMap width="100%" height="500px"
                                 center="50.6929,3.15858" marker="50.6929,3.15858"
                                 popupMsg="Progica. 20 rue du Luxembourg, Roubaix, France"
                                 zoom="17"
                                 urlTemplate="https://maps.wikimedia.org/osm-intl/{z}/{x}/{y}.png"
                                 zoomControl="true" dragging="true"/>
            </h:form>

            <section class="ftco-section-parallax ftco-section ftco-no-pt mt-10">
                <div class="parallax-img d-flex align-items-center">
                    <div class="container">
                        <div class="row d-flex justify-content-center">
                            <div class="col-md-10 col-lg-7 text-center heading-section ftco-animate">
                                <h2>S'inscrire à la NewsLetter</h2>
                                <p>Pour être informer des nouvelles disponnibilités de nos gites,<br/>abonnez-vous à la Newsletter
                                </p>
                                <div class="row d-flex justify-content-center mt-4 mb-4">
                                    <div class="col-md-8">
                                        <form action="#" class="subscribe-form">
                                            <div class="form-group d-flex">
                                                <input type="text" class="form-control"
                                                       placeholder="Entrez une adresse e-mail"/>
                                                <input type="submit" value="S'abonner" class="submit px-3"/>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>

        </ui:define>
    </ui:composition>
</h:body>
</html>

