<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
>
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>

    <link rel="shortcut icon" type="image/png" href="../asset/favicon.png"/>

    <title>Progica - accueil</title>
</head>
<body>
<ui:composition template="../template/layout/mainLayout.xhtml">
    <ui:define name="content">
        <section class="ftco-section ftco-no-pt ftco-no-pb">
            <div class="container">
                <div class="row no-gutters">
                    <div class="col-md-5 p-md-5 img img-2 d-flex justify-content-center align-items-center"
                         style="background-image: url(../asset/backgroundimage/japan_shirakawa_houses_mountains.jpg);">
                    </div>
                    <div class="col-md-7 wrap-about py-md-5 ftco-animate">
                        <div class="heading-section mb-5 pt-5 pl-md-5">
                            <div class="pr-md-5 mr-md-5">
                                <h2 class="mb-4">À propos de nous</h2>
                            </div>

                            <p>Progica est une plateforme communautaire payante de location et de réservation de logements de particuliers fondée en 2019 par Eva Khance.
                                Le site Internet contient en 2019 plus de 300 gites réparties dans toute la France métropolitaine.
                                Établie à Roubaix, la société est détenue et exploitée par Progica Inc.</p>
                            <p> En Septembre 2019, l'entreprise lève 1,2 millions d'euros. En Octobre 2019,
                                Progica lève une nouvelle ronde de financement qui valorise l'entreprise à 5 millions d'euros.</p>
                            <p><a href="#" class="btn btn-primary">Join now</a></p>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <section class="ftco-section-parallax ftco-section ftco-no-pt mt-10">
            <div class="parallax-img d-flex align-items-center">
                <div class="container">
                    <div class="row d-flex justify-content-center">
                        <div class="col-md-10 col-lg-7 text-center heading-section ftco-animate">
                            <h2>S'inscrire à la NewsLetter</h2>
                            <p>Pour être informer des nouvelles disponnibilités de nos gites,<br/>abonnez-vous à la Newsletter
                            </p>
                            <div class="row d-flex justify-content-center mt-4 mb-4">
                                <div class="col-md-8">
                                    <form action="#" class="subscribe-form">
                                        <div class="form-group d-flex">
                                            <input type="text" class="form-control"
                                                   placeholder="Entrez une adresse e-mail"/>
                                            <input type="submit" value="S'abonner" class="submit px-3"/>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

    </ui:define>
</ui:composition>


</body>
</html>