<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
>

<h:head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>

    <link rel="shortcut icon" type="image/png" href="../asset/favicon.png"/>

    <title>Progica - accueil</title>
</h:head>
<h:body>

    <ui:insert name="header">
        <ui:include src="../template/header.xhtml"/>
    </ui:insert>

    <ui:insert name="headerImage">
        <ui:include src="../template/headerImage.xhtml"/>
    </ui:insert>

    <ui:insert name="tableLayout">
        <ui:include src="../template/layout/tableLayout.xhtml"/>
    </ui:insert>

    <ui:insert name="footer">
        <ui:include src="../template/footer.xhtml"/>
    </ui:insert>

</h:body>
</html>